.wrapper {
    width: 940px;
}

.title {
    font-size: 34px;
}

/*Menu*/

.menu_link {
    display: none;
}

.menu_button {
    display: none;
}

.menu_burger {
    display: block;
}

.menu_link a{
    text-transform: uppercase;
}

#orderMeasurementMenuTablet{
    width: 141px;
}
/*First Screen*/
.firstScreen_title {
    font-size: 48px;
}

p.maxima_title {
    font-size: 48px;
}

.maxima_foto {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.maxima_content {
    margin-left: 585px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

p.maxima_text {
    width: 230px;
}

.warranty_title,
.warranty_calculatePrice {
    width: 940px;
    margin: 0 auto;
}

.firstScreen_content__second {
    width: 100%;
}

/*Numers*/

.numbers {
    margin-top: 100px;
    margin-bottom: 0px;
}

.numbers_content {
    grid-column-gap: 90px;
}

/*calculateCost*/

.calculateCost_content {
    width: 790px;
}

.calculateCost_title {
    font-size: 34px;
}

.calculateCost_parameters select {
    width: 200px;
    padding: 11px 9px;
    display: block;
    padding-right: 30px;
}

#infoKitchen {
    width: 463px;
}

.info_kitchen {
    width: 487px;
}

.phone_title {
    width: 370px;
}

.calculateCost {
    margin-bottom: 120px;
}
.select_array{
  left: 175px;
}

/*Advantages*/

.advantages_text {
    width: 375px;
}

.advantages_foto {
    width: 366px;
    height: 498px;
}

.advantages_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantages_text p {
    margin-bottom: 20px;
}

.advantages_content {
    align-items: center;
}

.advantages {
    margin-bottom: 120px;
}


/*Salon*/

.salon_title__foto {
    width: 417px;
    height: 279px;
    margin-right: 64px;
}

.salon_title__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.salon_title h2 {
    font-size: 34px;
    width: 450px;
}

.salon_content__foto {
    width: 586px;
    height: 206px;
    margin-left: 44px;
}

.salon_content__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0px;
}

.salon_text {
    width: 294px;
}

.salon {
    margin-bottom: 120px;
}

/*Portfolio*/


#portfolioMainFoto {
    height: 377px;
    width: 570px;
}

.portfolio_title {
    font-size: 34px;
}

.portfolio {
    margin-bottom: 70px;
}

.portfolio_foto {
    width: 640px;
}

/*Catalog*/


.catalog_title {
    font-size: 36px;
    width: 900px;
}

.catalog_content {
    display: block;
}

.catalog_categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

p.catalog_text {
    margin-right: 70px;
}

#catalogProduct {
    width: 940px;
}

.position_active {
    border-bottom: 1.5px solid #424242;
    border-left: 0px;
}

/*Stocks*/

.stocks_title {
    font-size: 34px;
}

.stocks_foto {
    height: 129px;
    width: 182px;
}

.stock {
    width: 658px;
    padding: 10px 0px;
}

#stocksData .position_active {
    border-left: 1.5px solid #424242;
    border-bottom: 0px;
}

.stocks {
    margin-bottom: 70px;
}

/*reviews*/
.reviews_title {
    font-size: 34px;
}

.reviews_left {
    width: 481px;
}

.reviews {
    margin-bottom: 70px;
}

/*Contacts*/

.contacts {
    display: block;
}

.contacts_dark {
    padding: 80px 0px 32px 0px;
    justify-content: center;
}


.contacts_light {
    padding: 80px 0px 32px 0px;
    display: flex;
    justify-content: center;
}

.contacts_social a {
    margin-top: 50px;
    position: relative;
    left: 230px;
    padding-bottom: 30px;
}

/*Menu tablet*/

.menu_tablet {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    width: 50%;
    height: 50%;
    background: rgba(19, 19, 19, 0.8);
    padding: 65px 50px 22px 30px;
    justify-content: space-between;
}

.menu_tablet .menu_button {
    display: block;
    margin-bottom: 20px;
}

.menu_tablet .menu_button a {
    border: 1px solid #FEFEFE;
    color: #FEFEFE;
}

.menu_tablet .menu_button a:hover {
    border: 1px solid #BDD002;
    color: #000000;
}

.menu_tablet .menu_button a:active {
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #FEFEFE;
}

.menu_tablet .menu_button button {
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #FEFEFE;
}

.menu_tablet .menu_button button:hover {
    border: 1px solid #BDD002;
    background-color: #BDD002;
    color: #000000;
}

.menu_tablet .menu_button button:active {
    background-color: #2B2929;
    color: #FEFEFE;
    border: 1px solid #2B2929;
}

#searchMenuTablet {
    display: flex;
}

input.search {
    width: 93px;
}



.menu_tablet .menu_tablet__right .menu_link a {
    display: block;
    margin-bottom: 22px;
    color: #FEFEFE;
}

.menu_tablet .menu_tablet__right .menu_link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.menu_tablet .menu_tablet__right .menu_link img {
    position: absolute;
    right: 10px;
    top: -35px;
}

/*Promotion Page*/

.promotionPage_foto {
    width: 481px;
    height: 379px;
}

.promotionPage_wrapper {
    width: 770px;
}

p.promotionPage_title {
    width: 440px;
    margin-left: 287px;
    margin-top: 100px;
}

p.promotionPage_text {
    width: 190px;
}

/*Product Page*/


#productPageFoto {
    width: 550px;
    height: 353px;
}

#productPageorderMeasurement {
    width: 270px;
}

#productPageLeft {
    margin-right: 30px;
}


#productPageRight {
    margin-left: 30px;
}

.productPage {
    padding-top: 100px;
}


.productPage_oneFoto {
    width: 655px;
    height: 390px;
}

.catalogPage {
    padding-top: 100px;
}

/*404*/


p.mistake_title {
    font-size: 32px;
    margin-bottom: 40px;
}

p.mistake_text {
    font-size: 16px;
}

.mistake_content a {
    font-size: 12px;
    padding: 28.5px 42.5px 28.5px 48.5px;
}

/*Privacy Policy*/

p.privacyPolicy_title{
    margin-top: 90px;
    margin-bottom: 60px;
}
p.text_bottom{
    margin-bottom: 50px;
}