.wrapper {
    width: 420px;
}

.mobile_none {
    display: none;
}

.title {
    font-size: 16px;
}

.text16px {
    font-size: 12px;
}

.mobile_block {
    display: block;
}


/*Order Measurement window*/

.orderMeasurement_window input[type=button] {
    font-size: 12px;
    padding: 16px 26px;
    min-width: 124px;
    max-height: 44px;
}

.orderMeasurement_window input[type=text] {
    width: 80%;
    font-size: 12px;
    height: 30px;
}

.orderMeasurement_window label,
.contacts_dark label {
    font-size: 12px;
}

/*Menu*/

#menuBurger{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#menuBurger img{
    width: 100%;
    height: 100%;
}
/*First Screen*/
.warranty_title,
.warranty_calculatePrice{
     width: 420px;
    margin: 0 auto;
}
.firstScreen_content__second{
    width: 100%;
}
.firstScreen_title {
    font-size: 20px;
}


p.specialOffer_text {
    order: 2;
    width: 180px;
}

.specialOffer_title {
    order: 1;
}

.specialOffer_link span {
    font-size: 12px;
}

.specialOffer_foto {
    width: 232px;
    height: 45vh;
    margin-left: 188px;
    margin-top: -18px;
}

.specialOffer_link__catalog {
    margin-bottom: 0;
}

.firstScreen {
    min-height: calc(100vh - 130px);
}

.firstScreen_content {
    margin-top: 50px;
}


a.calculatePrice {
    font-size: 12px;
    padding: 18px 23.5px;
}

p.warranty_title {
    margin-bottom: 10%;
}

.warranty {
    margin-bottom: 10%;
}

.warranty_foto {
    width: 100%;
    height: 28vh;
}

p.maxima_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.maxima_text {
    font-size: 12px;
}

button.orderMeasurement {
    padding: 18px 20px 18px 20px;
    font-size: 12px;
}

p.maxima_text {
    width: 213px;
    margin-bottom: 20px;
}

.maxima_content {
    margin-left: 200px;
}

.maxima_foto {
    width: 45%;
}

button#orderMeasurementFirstScreen{
    max-width: 154px;
}

/*Numbers*/

.number span {
    font-size: 20px;
}

.number p.text {
    margin-bottom: 10px;
}

.number {
    width: 165px;
    margin-bottom: 10px;
}

.numbers_content .number:last-child {
    width: 220px;
}

.numbers {
    margin-top: 50px;
}

/*calculateCost*/

.calculateCost_content {
    width: 280px;
    height: 480px;

}

.calculateCost_parameters {
    justify-content: center;
}

p.parameters_title {
    font-size: 12px;
    margin-bottom: 15px;
}

.calculateCost_title {
    font-size: 16px;
    margin-bottom: 20px;
}

.calculateCost_parameters select {
    font-size: 12px;
}

.calculateCost_send {
    display: none;
}

.mobile_none {
    display: none;
}

.array_mobile {
    display: flex;
    justify-content: flex-end;
}

.calculateCost_parameters {
    margin-bottom: 0px;
}

.calculateCost {
    margin-bottom: 90px;
}

p.parameters_title__second {
    width: 210px;
}

#infoKitchen {
    width: 193px;
    height: 66px;
}

.info_kitchen {
    width: 219px;
    padding: 10px 11px;
}

p.parameters_title__tird {
    width: 210px;
}

.calculateCost_personalData a {
    display: block;
}

p.parameters_title{
    line-height: 130%;
}

.array_mobile img{
    display: inline-block;
    margin-left: 20px;
}

#arrayMobileFree{
    margin-top: 30px;
}
.calculateCost_content{
    border-radius: 20px;
}

/*Advantages*/

h2.title {
    font-size: 16px;
}

.advantages_tablet__foto {
    width: 399px;
    height: 437px;
    margin: 0 auto;
}

.advantages_tablet__foto {
    margin-bottom: 30px;
}

.advantages_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    grid-auto-columns: 30px;
}

.advantages_title {
    margin-bottom: 30px;
}

.advantages_text p{
    min-height: 102px;
}

.advantages {
    margin-bottom: 90px;
}



/*Salon*/

.salon_title__foto,
.salon_content__foto {
    width: 246px;
    height: 181px;
    margin: 0 auto;
}

.salon_content__foto {
    margin-bottom: 30px;
}

.salon_title h2 {
    margin-bottom: 30px;
}

.salon_text p {
    width: 388px;
    margin-right: 0px;
}


.salon_text {
    width: 420px;
}

.salon {
    margin-bottom: 0px;
}

.salon_title h2{
    width: 420px;
}

/*Portfolio*/

p.port_name {
    font-size: 12px;
}

p.port_address {
    font-size: 10px;
}

.port_element__active p.port_name {
    font-size: 12px;
}

.port_element__active p.port_address {
    font-size: 10px;
}


/*    width: 260px;*/
   


/*
.port_element {
    width: 139px;
}
*/

.portfolio_name {
    width: 420px;
}

#portfolioName {
    width: 380px;
}


.port_element__active:hover p.port_name {
    font-size: 12px;
}

.port_element__active:hover p.port_address {
    font-size: 10px;
}

.port_element {
    padding-left: 5px;
}

.port_element__active {
    padding-left: 20px;
}

.port_element:hover {
    padding-left: 5px;
}

.port_element__active:hover {
    padding-left: 20px;
}

.portfolio_mainFoto {
    width: 420px;

}

.portfolio_foto {
    width: 420px;
}

#portfolioMainFoto {
    height: 218px;
    width: 330px;
}

.portfolio {
    margin-bottom: 40px;
}

.portfolio_title__tablet {
    margin-bottom: 30px;
}

.portfolio_foto__active {
    width: 420px;
}

.portfolio {
    margin-bottom: 0px;
}

/*Catalog*/

.catalog {
    margin-bottom: 0px;
}

.catalog_mobile {
    display: block;
}

h2.catalog_title {
    width: 100%;
    margin-bottom: 30px;
}

.catalog_mobile__foto {
    width: 420px;
    height: 322px;
    margin-bottom: 20px;
}

.catalog_mobile__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.catalog_mobile__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.catalog_mobile__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

.catalog_mobile__element {
    margin-bottom: 30px;
}

.catalog_mobile__element .specialOffer_link {
    margin-bottom: 0px;
}

.catalog {
    margin-bottom: 40px;
}

/*Stocks*/
.stocks {
    margin-bottom: 0px;
}

p.stocks_name__text {
    font-size: 14px;
    width: 271px;
}

.stocks_title {
    margin-bottom: 30px;
}

.stocks_text {
    margin-bottom: 30px;
}

#stocksData .position_active {
    border-left: 1.5px solid #424242;
    border-bottom: 0px;
}


.stocks_foto {
    height: 77px;
    width: 100px;
    position: relative;
}

.stock {
    width: 420px;
}

p.stocks_text {
    font-size: 12px;
    width: 190px;
}

#stocksData {
    margin-bottom: 50px;
}

/*reviews*/


.reviews_title {
    margin-bottom: 0px;
}

#reviewsRight {
    display: none;
}

#reviewsLeft {
    display: none;
}

.reviews_description {
    font-size: 12px;
}


.review_foto {
    width: 183px;
    height: 194px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.review_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews_author {
    display: flex;
    align-items: center;
}

.reviews_author div {
    padding-left: 15px;
    padding-right: 15px;
    width: 275px;
}

#reviewsOrderCall {
    margin-top: -50px;
}

.reviews_description {
    padding: 0px;
}

.reviews_left {
    width: 420px;
}

.reviews {
    margin-bottom: 0px;
}

/*Contact*/

.contact_content__dark {
    width: 335px;
    margin: 0 auto;
}

.orderMeasurement_title {
    font-size: 12px;
    width: 300px;
    margin-bottom: 20px;
}

.contact_content__dark input[type="text"] {
    font-size: 12px;
    width: 160px;
    height: 35px;
    margin-bottom: 15px;
}

.contact_content__dark input[type="button"] {
    font-size: 12px;
    padding: 20px 25px;
    margin-bottom: 0px;
}

.contact_content__dark label,
.contact_content__dark a {
    font-size: 12px;
}

.contacts_dark,
.contacts_light {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts_title {
    margin-bottom: 30px;
}

p.contacts_position {
    font-size: 14px;
}

a.autor_link {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #909090;
    text-decoration: none;
    margin-left: 250px;
}

.contacts_info div {
    display: flex;

}

.contacts_info div img {
    margin-right: 15px;
}

.contacts_light div {
    width: 335px;
}


/*Foto window portfolio*/

.foto, .foto_close{
    width: 360px;
    height: 360px;
}

/*Menu Tablet*/

.menu_tablet{
 width: 80%;
}

/*Promotion Page*/

p.promotionPage_title{
    width: 100%;
    margin-left: 0px;
    margin-top: 90px;
}

.promotionPage_data,
.promotionPage_text{
    margin-bottom: 20px;
}

.promotionPage_left,
p.promotionPage_data{
    width: 165px;
}

.promotionPage_foto{
    width: 220px;
    height: 182px;
}
.promotionPage_wrapper{
    width: 100%;
}

.back a{
    font-size: 12px;
}

.back_img{
    width: 14px;
    height: 11px;
    margin-top: -5px;
}

.back_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Product Page*/

#productPageTitle{
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#productPageFoto{
    width: 276px;
    height: 185px;    
}

.productPage_foto{
    margin-bottom: 20px;
}

.productPage{
    padding-top: 70px;    
}

.productPage_oneFoto{
    width: 420px;
    height: 260px;
}

button.orderMeasurement_productPage{
    font-size: 10px;
    padding: 16px 21px;
}
/*Catalog Page*/

.catalog_categories {
    display: block;
}
.catalogPage{
  padding-top: 70px;
}
p.catalog_text{
    font-size: 12px;
    margin-bottom: 15px;
}

/*404*/

p.mistake_title{
font-size: 24px;
 margin-bottom: 20px;
}
p.mistake_text{
    font-size: 12px;
     margin-bottom: 20px;
}
.mistake_content a{
    font-size: 10px;
    padding: 20px 20px 20px 26px;
}

/*Privacy Policy*/

p.privacyPolicy_title{
    margin-bottom: 30px;
}